<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- 存放实体类对象 -->
		<package name="distributed.mall.pojo.pojo"/>
	</typeAliases>

	<!--<plugins>-->
		<!--<plugin interceptor="com.github.pagehelper.PageHelper">-->
			<!--<property name="dialect" value="oracle"/>-->
			<!--<property name="offsetAsPageNum" value="true"/>-->
			<!--<property name="rowBoundsWithCount" value="true"/>-->
			<!--&lt;!&ndash; true表示 pageSize=0时候，返回全部 &ndash;&gt;-->
			<!--<property name="pageSizeZero" value="true"/>-->
		<!--</plugin>-->
	<!--</plugins>-->

</configuration>
