<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="distributed.mall.pojo.mapper.CartMapper">

    <sql id="cartColumns">
        id id,user_id userId,spu_id spuId,sku_id skuId,num num, status status,
        create_time createTime,update_time updateTime
    </sql>
    <select id="getCart" resultType="Cart">
        select
        <include refid="cartColumns"/>
        from CART
        where id = #{id}
    </select>

    <select id="getCarts" resultType="Cart">
        select
        <include refid="cartColumns"/>
        from CART
        where user_id = #{userId}
    </select>

    <insert id="saveCart" parameterType="Cart">
        insert into CART
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="spuId != null">
                spu_id,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="spuId != null">
                #{spuId},
            </if>
            <if test="num != null">
                #{num},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updCart" parameterType="Cart">
        update CART
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="spuId != null">
                spu_id = #{spuId},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delCart">
        delete from CART
        where id = #{id}
    </delete>
</mapper>