<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="distributed.mall.pojo.mapper.ReviewMapper">
    <sql id="reviewColumns">
        id id,content content,user_id userId,spu_id spuId,sku_id skuId,create_time createTime
    </sql>
    <select id="getReview" resultType="Review">
       select
       <include refid="reviewColumns"/>
        from REVIEW
        where id = #{id}
    </select>

    <select id="listReviewsBySpuId" resultType="Review">
        select
        <include refid="reviewColumns"/>
        from REVIEW
        where spu_id = #{spuId}
        order by create_time desc
    </select>

    <select id="listReviewsBySkuId" resultType="Review">
        select
        <include refid="reviewColumns"/>
        from REVIEW
        where sku_id = #{skuId}
        order by create_time desc
    </select>

    <insert id="saveReview" parameterType="Review">
        insert into REVIEW
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="spuId != null">
                spu_id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="spuId != null">
                #{spuId},
            </if>
            <if test="skuId != null">
                #{skuId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updReview" parameterType="Review">
        update REVIEW
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="spuId != null">
                spu_id = #{spuId},
            </if>
            <if test="skuId != null">
               sku_id = #{skuId},
            </if>
            <if test="createTime != null">
               create_time =  #{createTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delReview">
        delete from REVIEW
        where id = #{id}
    </delete>

    <delete id="delReviewsBySpuId">
        delete from REVIEW
        where spu_id = #{spuId}
    </delete>

    <delete id="delReviewsBySkuId">
        delete from REVIEW
        where sku_id = #{skuId}
    </delete>
</mapper>